.team {
  &--member {
    display: flex;
    &:nth-child(even) {
      flex-direction: row-reverse;
    }
    @include lg {
      flex-direction: column;
      &:nth-child(even) {
        flex-direction: column;
      }
    }
    @include md {
      flex-direction: column;
      &:nth-child(even) {
        flex-direction: column;
      }
    }
    @include sm {
      flex-direction: column;
      &:nth-child(even) {
        flex-direction: column;
      }
    }
  }
  &--member--img--container {
    width: 50%;
    @include lg {
      width: 100%;
    }
    @include md {
      width: 100%;
    }
    @include sm {
      width: 100%;
    }
  }
  &--member--info--container {
    width: 50%;
    color: $clr--text--dark;
    padding-inline: 5%;
    @include lg {
      width: 100%;
    }
    @include md {
      width: 100%;
    }
    @include sm {
      width: 100%;
    }
  }
  &--member--img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  &--member--job--title {
    font-weight: normal;
    font-size: calc($fs--sm - 0.2rem);
    color: $clr--text--gray;
    margin-bottom: 1rem;
  }
  &--member--name {
    font-size: $fs--lg;
    @include lg {
      font-size: $fs--xxmd;
    }
    @include md {
      font-size: $fs--xmd;
    }
    @include sm {
      font-size: calc($fs--xmd - 0.4rem);
    }
  }
  &--member--quote--wrapper {
    border: 1px solid rgba($color: $clr--gray, $alpha: 0.3);
    border-radius: 0.3rem;
    padding: 4rem 3rem;
  }
  &--member--quote {
    font-size: calc($fs--sm - 0.2rem);
    border-right: 3px solid $clr--primary;
    padding-right: 1.5em;
    text-decoration: underline rgba($color: $clr--dark, $alpha: 0.2);
    text-underline-offset: 0.5em;
  }
  &--member--description {
    font-size: calc($fs--sm - 0.2rem);
  }
  &--member--knowledge--item {
    margin-bottom: 1.6rem;
  }
  &--member--knowledge--topic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: normal;
    font-size: calc($fs--sm - 0.2rem);
    margin-bottom: 0.5rem;
  }
  &--member--knowledge--progressbar {
    width: 100%;
    height: 1rem;
    outline: 1px solid rgba($color: #000000, $alpha: 0.2);
  }
  &--member--knowledge--progress {
    display: block;
    width: 0;
    height: 100%;
    background-color: $clr--primary;
  }
}