.portofolio--main {
  @include row(160rem);
}

.filterBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 0;
  border-bottom: 1px solid rgba($color: $clr--gray, $alpha: 0.3);
  @include md {
    display: none;
  }
  @include sm {
    display: none;
  }
  &--options {
    display: flex;
    align-items: center;
    color: $clr--text--dark;
    gap: 2rem;
  }
  &--options--title {
    font-size: calc($fs--sm - 0.2rem);
    font-weight: normal;
    padding-left: 1rem;
  }
  &--options--btn {
    display: flex;
    align-items: center;
    font-size: calc($fs--sm - 0.3rem);
    padding: 0.5em 1em;
    border: 1px solid rgba($color: $clr--gray, $alpha: 0.4);
    border-radius: 3em;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      border-radius: 0.2em;
      > svg {
        fill: $clr--primary;
      }
    }
    > span {
      padding-left: 2rem;
    }
    > svg {
      transition: 0.3s;
    }
  }
  &--dots--btn {
    @include flexCenter;
    width: 3rem;
    aspect-ratio: 1;
    background-color: $clr--primary;
    color: $clr--light;
    font-size: calc($fs--sm - 0.2rem);
    transition: 0.125s;
    &:hover {
      border-radius: 50%;
    }
  }
}

.filterList {
  display: flex;
  margin: 3rem auto;
  width: max-content;
  gap: 2rem;
  @include md {
    display: none;
  }
  @include sm {
    display: none;
  }
  &--item {
    color: $clr--text--dark;
  }
  &--item--btn {
    font-size: calc($fs--sm - 0.2rem);
    border-radius: 2em;
    padding: 0.5em 1.2em;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      color: $clr--primary;
    }
  }
  &--item--btn--active {
    outline: 1px solid $clr--primary;
  }
}

.portofolio--list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 3rem;
  margin-block: 3rem;
  @include bp("max", 350px) {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
  &--item {
    color: $clr--text--dark;
    opacity: 0;
  }
  &--item--img--container {
    width: 100%;
    position: relative;
    isolation: isolate;
    &:hover .portofolio--list--item--img--context--container {
      opacity: 1;
    }
    &:hover .portofolio--list--item--img--context {
      transform: translateX(0);
      opacity: 1;
    }
  }
  &--item--img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
  }
  &--item--img--context--container {
    @include flexCenter;
    position: absolute;
    inset: 0;
    opacity: 0;
    background: linear-gradient(
      to left,
      rgba(158, 161, 212, 0.7),
      rgba($color: $clr--primary, $alpha: 0.7)
    );
    transition: 0.4s;
    color: $clr--light;
  }
  &--item--img--context {
    text-align: center;
    transform: translateX(3rem);
    opacity: 0.6;
    transition: 0.6s ease;
  }
  &--item--img--context--title {
    font-weight: bold;
    font-size: $fs--xmd;
    text-wrap: balance;
  }
  &--item--img--context--subtitle {
    font-size: calc($fs--sm - 0.2rem);
    text-wrap: balance;
    font-weight: normal;
  }
  &--item--btn {
    font-size: calc($fs--sm - 0.2rem);
    background-color: $clr--primary;
    color: $clr--text--light;
    padding: 0.3em 0.6em;
    cursor: pointer;
    margin-top: 1.2rem;
    margin-bottom: 2.4rem;
    transition: 0.3s;
    &:hover {
      color: $clr--text--dark;
    }
  }
  &--item--title {
    font-size: calc($fs--sm + 0.4rem);
    font-weight: bold;
    display: block;
    width: max-content;
    margin-bottom: 0.5rem;
    @include bp("max", 350px) {
      font-size: $fs--sm;
    }
  }
  &--item--subtitle {
    font-size: calc($fs--sm - 0.3rem);
    color: $clr--text--gray;
    font-weight: normal;
    margin-bottom: 2.4rem;
  }
  &--item--description {
    font-size: calc($fs--sm - 0.2rem);
    margin-bottom: 2.4rem;
    color: $clr--text--gray;
  }
  &--item--share--section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
    border-block: 1px solid rgba($color: $clr--gray, $alpha: 0.5);
  }
  &--item--share--more {
    font-size: calc($fs--sm - 0.4rem);
    font-weight: bold;
    transition: 0.4s;
    border-right: 3px solid $clr--primary;
    border-color: transparent;
    &:hover {
      border-color: $clr--primary;
      padding-right: 1em;
    }
  }
  &--item--share--socialMedia {
    position: relative;
    &:is(:hover, :focus) .portofolio--list--item--share--btn {
      visibility: hidden;
      opacity: 0;
    }
    &:is(:hover, :focus) .portofolio--list--item--share--socialLink {
      rotate: 0deg;
      opacity: 1 !important;
      visibility: visible;
      &:not(:last-child) {
        margin-left: 0.5em;
      }
    }
  }
  &--item--share--btn {
    background-color: $clr--bg--gray;
    font-size: calc($fs--sm - 0.4rem);
    font-weight: bold;
    padding: 1em 2em;
    border-radius: 2.5em;
    transition: 0.3s ease;
  }
  &--item--share--socialList {
    display: flex;
    position: absolute;
    top: 0.5rem;
    left: 0;
  }
  &--item--share--socialLink {
    @include flexCenter;
    font-size: calc($fs--sm - 0.3rem);
    padding-top: 0.4em;
    rotate: -180deg;
    opacity: 0 !important;
    visibility: hidden;
    transition: all 0.3s ease;
    color: #fff;
    width: 3.5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    cursor: pointer;
    &:not(:last-child) {
      margin-left: -1.5em;
    }
    &:nth-child(1) {
      background-color: #3c599f;
    }
    &:nth-child(2) {
      background-color: #0085ae;
    }
    &:nth-child(3) {
      background-color: #e1003a;
    }
    &:nth-child(4) {
      background-color: #000;
    }
    &:hover {
      box-shadow: 0 2px 6px $clr--dark;
    }
  }
}

.portofolio--pagination {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 5rem auto;
  font-size: calc($fs--sm - 0.2rem);
  color: $clr--text--dark;
  &--number {
    @include flexCenter;
    width: 4.5rem;
    border-radius: 50%;
    aspect-ratio: 1;
    border: 1px solid rgba($color: $clr--gray, $alpha: 0.4);
    transition: 0.3s;
    &:hover {
      color: $clr--primary;
      border: none;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
    > a {
      padding: 1rem;
    }
  }
  &--text {
    display: flex;
    align-items: center;
    > a {
      text-decoration: underline dotted $clr--primary;
      text-underline-offset: 0.6em;
      padding-left: 1em;
      &:hover {
        text-decoration-style: solid;
      }
    }
    > svg {
      font-size: 2rem;
    }
  }
}
